@page
@model Clinic_Management.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div id="notverify" style="display: block">
    <!--<button onclick="swtch2()">Click</button>-->
    <header class="my-6">
        <h3 class="text-center font-semibold uppercase text-gray-300">Basiha Medical - your mom</h3>
        <p class="text-center font-extrabold text-sky-700 tracking-tight text-5xl">User Management</p>
    </header>



    <form id="form" method="post" class="max-w-2xl mx-auto">
        <!--<div id="toast-top-right" class="fixed flex z-50 items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow fixed top-5 right-5 dark:text-gray-400 dark:divide-gray-700 dark:bg-gray-800" role="alert">-->
        <!-- </div>-->
        <!--
        <div class="main_value">
            <select asp-for="MedicalRecord.AppointmentId" id="apmId" class="hidden" asp-items="ViewBag.AppointmentId"></select>
            <select asp-for="MedicalRecord.PatientId" id="patientId" class="hidden" asp-items="ViewBag.PatientId"></select>
            <select asp-for="MedicalRecord.DoctorId" id="doctorId" class="hidden" asp-items="ViewBag.DoctorId"></select>
        </div>
        <div class="flex justify-between mb-4">
            <button type="button" onclick="abc()" class="text-blue-500 text-md font-semibold">Export to file Word</button>
            <p id="floating_visit_time" class="font-bold text-md-center text-gray-900"></p>
        </div>
        -->

        <div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="floating_fname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Full name <span style="color: red">*</span>
                    <span id="erfn" class="text-danger text-red-500 ml-1"></span>
                </label>
                <input readonly required value="@(Model.User != null ? Model.User.Name : "")" oninput="stopEnterCharacter()" onblur="validate('fullname')" name="@Html.NameFor(a => a.User.Name)" type="text" id="floating_fname" aria-label="disabled input" class="mb-5 bg-gray-100  border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">

            </div>
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-5 group">
                    <label for="floating_uname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Username
                    
                        <span id="erfn" class="text-danger text-red-500 ml-1"></span>

                    </label>
                    <input readonly value="@(Model.User != null ? Model.User.Username : "")" required oninput="stopEnterCharacter()" onblur="validate('username')" name="@Html.NameFor(a => a.User.Username)" type="text" id="floating_uname" aria-label="disabled input" class="mb-5 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">

                </div>
                <div class="relative z-0 w-full mb-5 group">
                    Role
                    <select disabled id="role" onchange="getRole()" name="@Html.NameFor(a => a.User.RoleId)" style="font-weight: 450" class="border bg-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        @foreach (var item in Model.roles)
                        {
                            <option selected="@(Model.User != null ? Model.User.RoleId == item.RoleId : item.RoleId == 1)" class="border border-gray-300 !text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" title="@item.RoleName" class="w-full" value="@item.RoleId">@item.RoleName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-5 group">
                    <label for="floating_dob" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Date of Birth <span style="color: red">*</span>
                        <span id="erdob" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="text-danger text-red-500 ml-1"></span>
                    </label>
                    <input readonly value="@(Model.User != null ? Model.User.Dob.ToString("yyyy-MM-dd") : "")" required onblur="validate('dob')" name="@Html.NameFor(a => a.User.Dob)" type="date" id="floating_dob" aria-label="disabled input" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <label for="floating_phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Phone Number
              
                        <span id="erpn" class="text-danger text-red-500 ml-1"></span>
                    </label>
                    <input readonly value="@(Model.User != null ? Model.User.PhoneNumber : "")" required oninput="stopEnterCharacter()" onblur="validate('phone')" name="@Html.NameFor(a => a.User.PhoneNumber)" type="tel" id="floating_phone" aria-label="disabled input" class=" border bg-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
            </div>
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-5 group">
                    <label for="floating_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Email
              
                        <span id="ere" class="text-danger text-red-500 ml-1"></span>
                    </label>
                    <input readonly value="@(Model.User != null ? Model.User.Email : "")" required oninput="stopEnterCharacter()" onblur="validate('email')" name="@Html.NameFor(a => a.User.Email)" type="email" id="floating_email" aria-label="disabled input" class="mb-5 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <label for="floating_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Gender <span style="color: red">*</span>
                        <span id="ere" class="text-danger text-red-500 ml-1"></span>
                    </label>
                    
                    <div style="margin-top: 15px" class="flex items-center">
                        <div class="flex items-center mr-4">
                            <input disabled id="default-radio-1" @(Model.User.Gender == true ? "checked" : "") type="radio" value="male" name="Gender" class="w-4 h-4 cursor-pointer text-black bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="default-radio-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Male</label>
                        </div>
                        <div class="flex items-center">
                            <input disabled id="default-radio-2" @(Model.User.Gender == false ? "checked" : "") type="radio" value="female" name="Gender" class="w-4 h-4 cursor-pointer text-black bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="default-radio-2" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Female</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="floating_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Address <span style="color: red">*</span>
                    <span id="erad" class="text-danger text-red-500 ml-1"></span>
                </label>
                <input readonly value="@(Model.User != null ? Model.User.Address : "")" required oninput="stopEnterCharacter()" onblur="validate('address')" name="@Html.NameFor(a => a.User.Address)" type="text" id="floating_address" aria-label="disabled input" class="mb-5 bg-gray-100  border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>

            <div id="healthInsurance" class="relative @(Model.User == null || (Model.User != null && Model.User.Role.RoleName == "Patient") ? "" : "hidden" ) z-0 w-full mb-5 group">
                <label for="floating_insurance" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Health Insurance <span style="color: red">*</span>
                    <span id="erhi" class="text-danger text-red-500 ml-1"></span>
                </label>
                <input readonly name="HealthInsurance" value="@(Model.User != null && Model.User.Role.RoleName == "Patient" ? Model.Patient.HealthInsurance : "")" type="text" id="floating_insurance" aria-label="disabled input" class="mb-5 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div id="receptionist" class=" @((Model.User != null && Model.User.Role.RoleName != "Patient") ? "" : "hidden" ) ">
                <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-5 group">
                        <label for="floating-hd" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Hired Date
                            <span id="erhd" class="text-danger text-red-500 ml-1"></span>
                        </label>
                        <input readonly name="HiredDate" value="@(Model.User != null && Model.User.Role.RoleName != "Patient" ? Model.Staff.HireDate.ToString("yyyy-MM-dd") : "")" type="date" id="floating_hd" aria-label="disabled input" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <!--Model.HiredDate.ToString("yyyy-MM-dd")-->
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <label for="floating-nid" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            National Id
                    
                            <span id="ernid" class="text-danger text-red-500 ml-1"></span>
                        </label>
                        <input readonly name="NationalId" value="@(Model.User != null && Model.User.Role.RoleName != "Patient" ? Model.Staff.Cccd : "")" type="text" id="floating_nid" aria-label="disabled input" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                </div>

                <div class="mb-5">
                    <h3 class="text-sm mb-1 text-gray-900 font-bold">Branch</h3>
                    @if (Model.User != null && Model.User.Role.RoleName != "Patient")
                    {
                        <select disabled name="BranchId" class=" border bg-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            @foreach (var item in Model.Branchs)
                            {
                                <option selected="@(item.BranchId == Model.Staff.DoctorDepartmentId)" class="border border-gray-300 !text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" title="@item.BranchName" class="w-full" value="@item.BranchId">@item.BranchName</option>
                            }
                        </select>
                    }
                    @if (!(Model.User != null && Model.User.Role.RoleName != "Patient"))
                    {
                        <select disabled name="BranchId" class=" border bg-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            @foreach (var item in Model.Branchs)
                            {
                                <option class="border border-gray-300 !text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" title="@item.BranchName" class="w-full" value="@item.BranchId">@item.BranchName</option>
                            }
                        </select>
                    }
                </div>
            </div>

            <div id="doctor" class="@((Model.User != null && Model.User.Role.RoleName == "Doctor") ? "" : "hidden" ) ">
                <div class="mb-5">
                    <h3 class="text-sm mb-1 text-gray-900 font-bold">
                        Specialist <span style="color: red">*</span>
                    </h3>
                    @if (Model.User != null && Model.User.Role.RoleName == "Doctor")
                    {
                        <select disabled name="SpecialistId" class=" border bg-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            @foreach (var item in Model.Specialists)
                            {
                                <option selected="@(item.SpecialistId == Model.Staff.DoctorSpecialist)" class="border border-gray-300 !text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" title="@item.SpecialistName" class="w-full" value="@item.SpecialistId">@item.SpecialistName</option>
                            }
                        </select>
                    }
                    @if (!(Model.User != null && Model.User.Role.RoleName == "Doctor"))
                    {
                        <select disabled name="SpecialistId" class=" border bg-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            @foreach (var item in Model.Specialists)
                            {
                                <option class="border border-gray-300 !text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" title="@item.SpecialistName" class="w-full" value="@item.SpecialistId">@item.SpecialistName</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
        </div>

        <div class="flex mb-5 flex-row items-center justify-between">

            <div class="flex justify-start items-center">
                <div>
                    <a asp-page="./Index" class="h-25 text-blue-700  border border-blue-700 hover:bg-blue-800 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-8 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Back</a>
                </div>
 
            </div>
        </div>

    </form>
</div>

