@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clinic_Management</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css?v=1" asp-append-version="true" />
    <link rel="stylesheet" href="~/Clinic_Management.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css?v=2" asp-append-version="true" />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>

    <style>
        #animateDiv {
            width: 100%;
        }

        .reduceWidth {
            transition: width 2s ease-out;
            width: 0%;
        }
    </style>
    @RenderSection("Styles", required: false)
</head>
<body class="antialiased bg-white font-sans text-gray-900">
    <main class="w-full">
        <div id="toast-notification" class="w-full opacity-0 max-w-xs p-4 fixed bottom-5 right-5 text-gray-900 bg-white rounded-lg shadow dark:bg-gray-800 dark:text-gray-300" role="alert">
            <div class="flex items-center mb-3">
                <span class="mb-1 text-sm font-semibold text-gray-900 dark:text-white">New notification</span>
                <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white justify-center items-center flex-shrink-0 text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-notification" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                </button>
            </div>
            <div class="flex items-center">
                <div class="relative inline-block shrink-0">
                    <img class="w-12 h-12 rounded-full" id="newimage" src="~/Images/message.png" alt="Jese Leos image" />
                    <span class="absolute bottom-0 right-0 inline-flex items-center justify-center w-6 h-6 bg-blue-600 rounded-full">
                        <svg class="w-3 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18" fill="currentColor">
                            <path d="M18 4H16V9C16 10.0609 15.5786 11.0783 14.8284 11.8284C14.0783 12.5786 13.0609 13 12 13H9L6.846 14.615C7.17993 14.8628 7.58418 14.9977 8 15H11.667L15.4 17.8C15.5731 17.9298 15.7836 18 16 18C16.2652 18 16.5196 17.8946 16.7071 17.7071C16.8946 17.5196 17 17.2652 17 17V15H18C18.5304 15 19.0391 14.7893 19.4142 14.4142C19.7893 14.0391 20 13.5304 20 13V6C20 5.46957 19.7893 4.96086 19.4142 4.58579C19.0391 4.21071 18.5304 4 18 4Z" fill="currentColor" />
                            <path d="M12 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V9C0 9.53043 0.210714 10.0391 0.585786 10.4142C0.960859 10.7893 1.46957 11 2 11H3V13C3 13.1857 3.05171 13.3678 3.14935 13.5257C3.24698 13.6837 3.38668 13.8114 3.55279 13.8944C3.71889 13.9775 3.90484 14.0126 4.08981 13.996C4.27477 13.9793 4.45143 13.9114 4.6 13.8L8.333 11H12C12.5304 11 13.0391 10.7893 13.4142 10.4142C13.7893 10.0391 14 9.53043 14 9V2C14 1.46957 13.7893 0.960859 13.4142 0.585786C13.0391 0.210714 12.5304 0 12 0Z" fill="currentColor" />
                        </svg>
                        <span class="sr-only">Message icon</span>
                    </span>
                </div>
                <div class="ms-3 text-sm font-normal">
                    <div id="newsubject" class="text-sm font-semibold text-gray-900 dark:text-white">Bonnie Green</div>
                    <div id="newcomment" class="text-sm font-normal">commented on your photo</div>
                    <span class="text-xs font-medium text-blue-600 dark:text-blue-500">a few seconds ago</span>
                </div>
            </div>
        </div>
        <!-- start header -->
        <header class="absolute top-0 left-0 w-full z-50 px-4 sm:px-8 lg:px-16 bg-blue-teal-gradient relative bg-blue-600">
            <div class="hidden md:flex justify-between items-center py-2 border-b text-sm py-3"
                 style="border-color: rgba(255,255,255,.25)">
                <div class="">
                    <ul class="flex text-white">
                        <li>
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current text-white" viewBox="0 0 24 24">
                                    <path d="M12,2C7.589,2,4,5.589,4,9.995C3.971,16.44,11.696,21.784,12,22c0,0,8.029-5.56,8-12C20,5.589,16.411,2,12,2z M12,14 c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S14.21,14,12,14z" />
                                </svg>

                                <span class="ml-2">Khu 2 Hoàng Cương, Thanh Ba, Phú Thọ</span>
                            </div>
                        </li>
                        <li class="ml-6">
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current text-white" viewBox="0 0 24 24">
                                    <path d="M14.594,13.994l-1.66,1.66c-0.577-0.109-1.734-0.471-2.926-1.66c-1.193-1.193-1.553-2.354-1.661-2.926l1.661-1.66 l0.701-0.701L5.295,3.293L4.594,3.994l-1,1C3.42,5.168,3.316,5.398,3.303,5.643c-0.015,0.25-0.302,6.172,4.291,10.766 C11.6,20.414,16.618,20.707,18,20.707c0.202,0,0.326-0.006,0.358-0.008c0.245-0.014,0.476-0.117,0.649-0.291l1-1l0.697-0.697 l-5.414-5.414L14.594,13.994z" />
                                </svg>

                                <span class="ml-2">+84 999-888-666</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="">
                    <ul class="flex justify-end text-white items-center">
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100047174765357" target="_blank" title="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                                    <path d="M20,3H4C3.447,3,3,3.448,3,4v16c0,0.552,0.447,1,1,1h8.615v-6.96h-2.338v-2.725h2.338v-2c0-2.325,1.42-3.592,3.5-3.592	c0.699-0.002,1.399,0.034,2.095,0.107v2.42h-1.435c-1.128,0-1.348,0.538-1.348,1.325v1.735h2.697l-0.35,2.725h-2.348V21H20	c0.553,0,1-0.448,1-1V4C21,3.448,20.553,3,20,3z">
                                    </path>
                                </svg>
                            </a>
                        </li>

                        <li class="ml-6">
                            <a href="https://twitter.com" target="_blank" title="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                                    <path d="M19.633,7.997c0.013,0.175,0.013,0.349,0.013,0.523c0,5.325-4.053,11.461-11.46,11.461c-2.282,0-4.402-0.661-6.186-1.809	c0.324,0.037,0.636,0.05,0.973,0.05c1.883,0,3.616-0.636,5.001-1.721c-1.771-0.037-3.255-1.197-3.767-2.793	c0.249,0.037,0.499,0.062,0.761,0.062c0.361,0,0.724-0.05,1.061-0.137c-1.847-0.374-3.23-1.995-3.23-3.953v-0.05	c0.537,0.299,1.16,0.486,1.82,0.511C3.534,9.419,2.823,8.184,2.823,6.787c0-0.748,0.199-1.434,0.548-2.032	c1.983,2.443,4.964,4.04,8.306,4.215c-0.062-0.3-0.1-0.611-0.1-0.923c0-2.22,1.796-4.028,4.028-4.028	c1.16,0,2.207,0.486,2.943,1.272c0.91-0.175,1.782-0.512,2.556-0.973c-0.299,0.935-0.936,1.721-1.771,2.22	c0.811-0.088,1.597-0.312,2.319-0.624C21.104,6.712,20.419,7.423,19.633,7.997z">
                                    </path>
                                </svg>
                            </a>
                        </li>

                        <li class="ml-6">
                            <a href="https://www.instagram.com/" target="_blank" title="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                                    <path d="M20.947,8.305c-0.011-0.757-0.151-1.508-0.419-2.216c-0.469-1.209-1.424-2.165-2.633-2.633 c-0.699-0.263-1.438-0.404-2.186-0.42C14.747,2.993,14.442,2.981,12,2.981s-2.755,0-3.71,0.055 c-0.747,0.016-1.486,0.157-2.185,0.42C4.896,3.924,3.94,4.88,3.472,6.089C3.209,6.788,3.067,7.527,3.053,8.274 c-0.043,0.963-0.056,1.268-0.056,3.71s0,2.754,0.056,3.71c0.015,0.748,0.156,1.486,0.419,2.187 c0.469,1.208,1.424,2.164,2.634,2.632c0.696,0.272,1.435,0.426,2.185,0.45c0.963,0.043,1.268,0.056,3.71,0.056s2.755,0,3.71-0.056 c0.747-0.015,1.486-0.156,2.186-0.419c1.209-0.469,2.164-1.425,2.633-2.633c0.263-0.7,0.404-1.438,0.419-2.187 c0.043-0.962,0.056-1.267,0.056-3.71C21.003,9.572,21.003,9.262,20.947,8.305z M11.994,16.602c-2.554,0-4.623-2.069-4.623-4.623 s2.069-4.623,4.623-4.623c2.552,0,4.623,2.069,4.623,4.623S14.546,16.602,11.994,16.602z M16.801,8.263 c-0.597,0-1.078-0.482-1.078-1.078s0.481-1.078,1.078-1.078c0.595,0,1.077,0.482,1.077,1.078S17.396,8.263,16.801,8.263z">
                                    </path>
                                    <circle cx="11.994" cy="11.979" r="3.003"></circle>
                                </svg>
                            </a>
                        </li>

                        <li class="ml-6">
                            <a href="https://www.youtube.com/" target="_blank" title="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                                    <path d="M21.593,7.203c-0.23-0.858-0.905-1.535-1.762-1.766C18.265,5.007,12,5,12,5S5.736,4.993,4.169,5.404	c-0.84,0.229-1.534,0.921-1.766,1.778c-0.413,1.566-0.417,4.814-0.417,4.814s-0.004,3.264,0.406,4.814	c0.23,0.857,0.905,1.534,1.763,1.765c1.582,0.43,7.83,0.437,7.83,0.437s6.265,0.007,7.831-0.403c0.856-0.23,1.534-0.906,1.767-1.763	C21.997,15.281,22,12.034,22,12.034S22.02,8.769,21.593,7.203z M9.996,15.005l0.005-6l5.207,3.005L9.996,15.005z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                        @if (HttpContextAccessor.HttpContext.Request.Cookies["AuthToken"] != null &&
                        HttpContextAccessor.HttpContext.Request.Cookies["Username"] != null)
                        {
                            <li class="ml-6">
                                <span class="inline-block font-semibold px-4 py-2 text-white">

                                    <a asp-page="/Profile/Index" class="text-white hover:text-gray-300 ml-2">
                                        Hello, @HttpContextAccessor.HttpContext.Request.Cookies["Username"]
                                    </a>
                                </span>
                            </li>
                            <li class="ml-6">
                                <div class="navbar-item">
                                    <form method="post" asp-page="/Authentication/Logout">
                                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                                    </form>

                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="ml-6">
                                <a asp-page="/Authentication/Login" class="inline-block font-semibold px-4 py-2 text-white">
                                    Sign in / Sign up
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>

            <div class="flex flex-wrap items-center justify-between py-6">
                <div class="w-1/2 md:w-auto">
                    <a asp-page="/Index" class="text-white font-bold text-2xl">
                        Basiha Medical
                    </a>
                </div>

                <label for="menu-toggle" class="pointer-cursor md:hidden block">
                    <svg class="fill-current text-white"
                         xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <title>menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                    </svg>
                </label>

                <input class="hidden" type="checkbox" id="menu-toggle">

                <div class="hidden md:block w-full md:w-auto" id="menu">
                    <nav class="w-full bg-white md:bg-transparent rounded shadow-lg px-6 py-4 mt-4 text-center md:p-0 md:mt-0 md:shadow-none">
                        <ul class="md:flex items-center">
                            <li id="users-link" class="hidden">
                                <a class="py-2 inline-block md:text-white md:hidden lg:block font-semibold" href="/Admin">
                                    User Management
                                </a>
                            </li>
                            <li id="staff-view-appointments-link" class="hidden">
                                <a class="py-2 inline-block md:text-white md:hidden lg:block font-semibold" href="/Appointments">
                                    Appointment Management
                                </a>
                            </li>
                            <li id="p-appointments-link" class="hidden">
                                <a class="py-2 inline-block md:text-white md:hidden lg:block font-semibold" href="/PatientAppointment">
                                    Appointments 
                                </a>
                            </li>
                            <li class="md:ml-4 hidden" id="medical-record-link">
                                <a href="/MedicalRecords/Index" class="py-2 inline-block md:text-white md:px-2 font-semibold">
                                    Medical Records
                                </a>
                            </li>
                            <li id="notifications-link">
                                <div class="relative ml-4 cursor-pointer">
                                    <div class="p-2">
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies["AuthToken"] != null &&
                                        HttpContextAccessor.HttpContext.Request.Cookies["Username"] != null)
                                        {
                                            <button onclick="disableNt()" id="dropdownNotificationButton" data-dropdown-toggle="dropdownNotification" type="button">
                                                <div style="width: 10px; height: 10px; display: none" id="nt" class="absolute left-0 top-0  bg-red-500 rounded-full">
                                                    <span class="text-sm text-white p-1"></span>
                                                </div>
                                                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                     fill="white"
                                                     class="text-gray-600 w-6 h-6"
                                                     viewBox="0 0 16 16">
                                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                                                </svg>
                                            </button>
                                        }
                                        <!-- Dropdown menu -->

                                    </div>
                                </div>
                            </li>

                            <li id="book-appointments-link" class="md:ml-6 mt-3 md:mt-0 hidden">
                                <a class="inline-block font-semibold px-4 py-2 text-white bg-blue-600 md:bg-transparent md:text-white border border-white rounded"
                                   href="/PatientAppointment/Create">
                                    Book Appointment
                                </a>
                            </li>
                        </ul>

                        <div id="dropdownNotification" style="max-height: 392px; overflow-y: auto" class="z-20 hidden w-full max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-800 dark:divide-gray-700" aria-labelledby="dropdownNotificationButton">
                            <div class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50 dark:bg-gray-800 dark:text-white">
                                Notifications
                            </div>
                            <div class="divide-y divide-gray-100 dark:divide-gray-700">
                                <div id="notify">
                                </div>

                                <div role="status" id="loading" style="display: flex; justify-content: center; margin-bottom: 5px">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
                                    </svg>
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                        </div>


                    </nav>
                </div>
            </div>
        </header>
        <!-- end header -->
        <main role="main">
            @RenderBody()
        </main>
        <!-- start footer -->
        <footer class="  bg-gray-900 text-white px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 py-12 lg:py-24">
            <div class="flex flex-col md:flex-row">
                <div class="w-full lg:w-2/6 lg:mx-4 lg:pr-8">
                    <h3 class="font-bold text-2xl">Basiha Medical</h3>
                    <p class="text-gray-400">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>

                    <form class="flex items-center mt-6">
                        <div class="w-full">
                            <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2" for="grid-last-name">
                                Subscribe for our Newsletter
                            </label>
                            <div class="relative">
                                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-4 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                       type="email" placeholder="Enter Your Email Address">

                                <button type="submit"
                                        class="bg-teal-500 hover:bg-teal-400 text-white px-4 py-2 text-sm font-bold rounded absolute top-0 right-0 my-2 mr-2">
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="w-full lg:w-1/6 mt-8 lg:mt-0 lg:mx-4">
                    <h5 class="uppercase tracking-wider font-semibold text-gray-500">Treatments</h5>
                    <ul class="mt-4">
                        <li class="mt-2"><a href="#" title="" class="opacity-75 hover:opacity-100">General Dentistry</a></li>
                        <li class="mt-2"><a href="#" title="" class="opacity-75 hover:opacity-100">Cosmetic Dentistry</a></li>
                        <li class="mt-2"><a href="#" title="" class="opacity-75 hover:opacity-100">Oral Health</a></li>
                    </ul>
                </div>

                <div class="w-full lg:w-2/6 mt-8 lg:mt-0 lg:mx-4 lg:pr-8">
                    <h5 class="uppercase tracking-wider font-semibold text-gray-500">Contact Details</h5>
                    <ul class="mt-4">
                        <li>
                            <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         class="fill-current">
                                        <path d="M12,2C7.589,2,4,5.589,4,9.995C3.971,16.44,11.696,21.784,12,22c0,0,8.029-5.56,8-12C20,5.589,16.411,2,12,2z M12,14 c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S14.21,14,12,14z" />
                                    </svg>
                                </span>
                                <span class="ml-3">
                                    1985 Kerry Way, Whittier, CA, USA
                                </span>
                            </a>
                        </li>
                        <li class="mt-4">
                            <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         class="fill-current">
                                        <path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10c5.514,0,10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8 s3.589-8,8-8s8,3.589,8,8S16.411,20,12,20z" />
                                        <path d="M13 7L11 7 11 13 17 13 17 11 13 11z" />
                                    </svg>
                                </span>
                                <span class="ml-3">
                                    Mon - Fri: 9:00 - 19:00<br>
                                    Closed on Weekends
                                </span>
                            </a>
                        </li>
                        <li class="mt-4">
                            <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         class="fill-current">
                                        <path d="M14.594,13.994l-1.66,1.66c-0.577-0.109-1.734-0.471-2.926-1.66c-1.193-1.193-1.553-2.354-1.661-2.926l1.661-1.66 l0.701-0.701L5.295,3.293L4.594,3.994l-1,1C3.42,5.168,3.316,5.398,3.303,5.643c-0.015,0.25-0.302,6.172,4.291,10.766 C11.6,20.414,16.618,20.707,18,20.707c0.202,0,0.326-0.006,0.358-0.008c0.245-0.014,0.476-0.117,0.649-0.291l1-1l0.697-0.697 l-5.414-5.414L14.594,13.994z" />
                                    </svg>
                                </span>
                                <span class="ml-3">
                                    +1 562-789-1935
                                </span>
                            </a>
                        </li>
                        <li class="mt-4">
                            <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         class="fill-current">
                                        <path d="M20,4H4C2.896,4,2,4.896,2,6v12c0,1.104,0.896,2,2,2h16c1.104,0,2-0.896,2-2V6C22,4.896,21.104,4,20,4z M20,8.7l-8,5.334 L4,8.7V6.297l8,5.333l8-5.333V8.7z" />
                                    </svg>
                                </span>
                                <span class="ml-3">
                                    Basiha Medical@example.com
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="w-full lg:w-1/6 mt-8 lg:mt-0 lg:mx-4">
                    <h5 class="uppercase tracking-wider font-semibold text-gray-500">We're Social</h5>
                    <ul class="mt-4 flex">
                        <li>
                            <a href="#" target="_blank" title="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                                    <path d="M20,3H4C3.447,3,3,3.448,3,4v16c0,0.552,0.447,1,1,1h8.615v-6.96h-2.338v-2.725h2.338v-2c0-2.325,1.42-3.592,3.5-3.592	c0.699-0.002,1.399,0.034,2.095,0.107v2.42h-1.435c-1.128,0-1.348,0.538-1.348,1.325v1.735h2.697l-0.35,2.725h-2.348V21H20	c0.553,0,1-0.448,1-1V4C21,3.448,20.553,3,20,3z" />
                                </svg>
                            </a>
                        </li>

                        <li class="ml-6">
                            <a href="#" target="_blank" title="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                                    <path d="M19.633,7.997c0.013,0.175,0.013,0.349,0.013,0.523c0,5.325-4.053,11.461-11.46,11.461c-2.282,0-4.402-0.661-6.186-1.809	c0.324,0.037,0.636,0.05,0.973,0.05c1.883,0,3.616-0.636,5.001-1.721c-1.771-0.037-3.255-1.197-3.767-2.793	c0.249,0.037,0.499,0.062,0.761,0.062c0.361,0,0.724-0.05,1.061-0.137c-1.847-0.374-3.23-1.995-3.23-3.953v-0.05	c0.537,0.299,1.16,0.486,1.82,0.511C3.534,9.419,2.823,8.184,2.823,6.787c0-0.748,0.199-1.434,0.548-2.032	c1.983,2.443,4.964,4.04,8.306,4.215c-0.062-0.3-0.1-0.611-0.1-0.923c0-2.22,1.796-4.028,4.028-4.028	c1.16,0,2.207,0.486,2.943,1.272c0.91-0.175,1.782-0.512,2.556-0.973c-0.299,0.935-0.936,1.721-1.771,2.22	c0.811-0.088,1.597-0.312,2.319-0.624C21.104,6.712,20.419,7.423,19.633,7.997z" />
                                </svg>
                            </a>
                        </li>

                        <li class="ml-6">
                            <a href="#" target="_blank" title="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                                    <path d="M20.947,8.305c-0.011-0.757-0.151-1.508-0.419-2.216c-0.469-1.209-1.424-2.165-2.633-2.633 c-0.699-0.263-1.438-0.404-2.186-0.42C14.747,2.993,14.442,2.981,12,2.981s-2.755,0-3.71,0.055 c-0.747,0.016-1.486,0.157-2.185,0.42C4.896,3.924,3.94,4.88,3.472,6.089C3.209,6.788,3.067,7.527,3.053,8.274 c-0.043,0.963-0.056,1.268-0.056,3.71s0,2.754,0.056,3.71c0.015,0.748,0.156,1.486,0.419,2.187 c0.469,1.208,1.424,2.164,2.634,2.632c0.696,0.272,1.435,0.426,2.185,0.45c0.963,0.043,1.268,0.056,3.71,0.056s2.755,0,3.71-0.056 c0.747-0.015,1.486-0.156,2.186-0.419c1.209-0.469,2.164-1.425,2.633-2.633c0.263-0.7,0.404-1.438,0.419-2.187 c0.043-0.962,0.056-1.267,0.056-3.71C21.003,9.572,21.003,9.262,20.947,8.305z M11.994,16.602c-2.554,0-4.623-2.069-4.623-4.623 s2.069-4.623,4.623-4.623c2.552,0,4.623,2.069,4.623,4.623S14.546,16.602,11.994,16.602z M16.801,8.263 c-0.597,0-1.078-0.482-1.078-1.078s0.481-1.078,1.078-1.078c0.595,0,1.077,0.482,1.077,1.078S17.396,8.263,16.801,8.263z" />
                                    <circle cx="11.994" cy="11.979" r="3.003" />
                                </svg>
                            </a>
                        </li>

                        <li class="ml-6">
                            <a href="#" target="_blank" title="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                                    <path d="M21.593,7.203c-0.23-0.858-0.905-1.535-1.762-1.766C18.265,5.007,12,5,12,5S5.736,4.993,4.169,5.404	c-0.84,0.229-1.534,0.921-1.766,1.778c-0.413,1.566-0.417,4.814-0.417,4.814s-0.004,3.264,0.406,4.814	c0.23,0.857,0.905,1.534,1.763,1.765c1.582,0.43,7.83,0.437,7.83,0.437s6.265,0.007,7.831-0.403c0.856-0.23,1.534-0.906,1.767-1.763	C21.997,15.281,22,12.034,22,12.034S22.02,8.769,21.593,7.203z M9.996,15.005l0.005-6l5.207,3.005L9.996,15.005z" />
                                </svg>
                            </a>
                        </li>
                    </ul>

                    <p class="text-sm text-gray-400 mt-12">
                        © 2018 ProDentists. <br class="hidden lg:block">All Rights Reserved.
                    </p>
                </div>
            </div>
        </footer>
        <!-- end footer -->
    </main>
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script>

        //Set cookie time
        function deleteCookie(name) {
            document.cookie = name + '=; Max-Age=-99999999;';
        }

        function disableNt() {
            document.getElementById("nt").style.display = "none";
        }

        async function getToken() {
            const response = await fetch('/api/Authentication');
            if (response.ok) {
                const data = await response.json();
                console.log(data);
                if (data != null) {
                    var connection = new signalR.HubConnectionBuilder()
                        .withUrl("/signalrServer?access_token=" + data.token, { accessTokenFactory: () => data.Token })
                        .build();

                    connection.start().then(function () {
                        connection.on("LoadNotifications", function (notification) {
                            console.log("Nhận thông báo mới:", notification);
                            var image = "";
                            switch (notification.typeNavigation.typeName) {
                                case "Appointment": {
                                    image = "/Images/appointment.jpg";
                                    break;
                                }
                                case "Medical": {
                                    image = "/Images/medical-record.png";
                                    break;
                                }
                                case "System": {
                                    image = "/Images/message.png";
                                    break;
                                }
                            }
                            var ntimage = document.getElementById('newimage');
                            ntimage.src = image;
                            document.getElementById("newsubject").innerHTML = notification.subject;
                            document.getElementById("newcomment").innerHTML = notification.content;

                            if (document.getElementById("toast-notification").classList.contains("animate-[fade-out_2s_ease-out_1s_1_forwards]")) {
                                document.getElementById("toast-notification").classList.remove("animate-[fade-out_2s_ease-out_1s_1_forwards]")
                            }
                            void document.getElementById("toast-notification").offsetWidth;
                            document.getElementById("toast-notification").classList.add("animate-[fade-out_2s_ease-out_1s_1_forwards]")
                            document.getElementById("nt").style.display = "block";

                            var resultDiv = document.getElementById('notify');
                            var a = resultDiv.innerHTML;
                            var b;
                            b = '<div style="width: 8px; height: 8px; margin-left: 4px; margin-top: 18px" class="absolute left-1 top-0  bg-red-500 rounded-full">'
                                + '<span class="text-sm text-white p-1"></span>'
                                + '</div>';


                            resultDiv.innerHTML = "";
                            resultDiv.innerHTML += '<div style="position: relative">' + b + '<a onclick="UpdateNotification(' + notification.notificationId + ', \'' + notification.link + '\')"  class="flex cursor-pointer px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">'
                                + '<div class="flex-shrink-0">'
                                + '<img class="rounded-full w-11 h-11" src = "' + image + '" alt = "Jese image">'
                                + '<div class="absolute flex items-center justify-center w-5 h-5 ms-6 -mt-5 bg-blue-600 border border-white rounded-full dark:border-gray-800">'
                                + '<svg class="w-2 h-2 text-white" aria-hidden="true" xmlns = "http://www.w3.org/2000/svg" fill = "currentColor" viewBox = "0 0 18 18">'
                                + '<path d="M1 18h16a1 1 0 0 0 1-1v-6h-4.439a.99.99 0 0 0-.908.6 3.978 3.978 0 0 1-7.306 0 .99.99 0 0 0-.908-.6H0v6a1 1 0 0 0 1 1Z"/>'
                                + '<path d="M4.439 9a2.99 2.99 0 0 1 2.742 1.8 1.977 1.977 0 0 0 3.638 0A2.99 2.99 0 0 1 13.561 9H17.8L15.977.783A1 1 0 0 0 15 0H3a1 1 0 0 0-.977.783L.2 9h4.239Z"/>'
                                + '</svg>'
                                + '</div>'
                                + '</div>'
                                + '<div class="w-full ps-3">'
                                + '<div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400" style = "text-align: start !important">'
                                + '<div class="flex justify-between">'
                                + '<div class="font-semibold text-gray-900 dark:text-white">' + notification.subject + '</div>'
                                + '<div>' + formatDate(notification.datetime) + '</div>'
                                + '</div>'
                                + '<div>' + notification.content + '</div>'
                                + '</div>'
                                + '</div>'
                                + '</a>';
                            resultDiv.innerHTML += a;
                        });


                        connection.on("ReceiveUserStatusChange", function (username, isActive) {
                            console.log(username);
                            console.log(isActive);
                            if (username && !isActive) {
                                //TODO: Delete Token
                                deleteCookie('AuthToken');
                                deleteCookie('Username');
                                window.location.href = "https://localhost:7200/Authentication/Login";
                            }
                        });

                    }).catch(function (err) {
                        return console.error(err.toString());
                    });
                }
                return data.Token;
            } else {
                console.error('Failed to get token');
                return null;
            }
        }
        getToken();


        var page = 1;
        GetNotification();

        async function UpdateNotification(id, link) {

            try {
                const response = await fetch('/api/Notification/' + id, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                window.location.href = link;
                console.log(response);
            } catch (error) {
                console.error('Fetch error:', error);
            };

        }

        async function GetNotification() {
            try {
                const response = await fetch('/api/Notification/' + page, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }
                var json = await response.json();
                console.log(json);

                var resultDiv = document.getElementById('notify');
                json.forEach(notify => {
                    var image = "";
                    switch (notify.typeNavigation.typeName) {
                        case "Appointment": {
                            image = "/Images/appointment.jpg";
                            break;
                        }
                        case "Medical": {
                            image = "/Images/medical-record.png";
                            break;
                        }
                        case "System": {
                            image = "/Images/message.png";
                            break;
                        }
                    }
                    var b;
                    if (notify.isRead == false) {
                        b = '<div style="width: 8px; height: 8px; margin-left: 4px; margin-top: 18px" class="absolute left-1 top-0  bg-red-500 rounded-full">'
                            + '<span class="text-sm text-white p-1"></span>'
                            + '</div>';
                    }
                    else {
                        b = '<div style="width: 8px; height: 8px; margin-left: 4px; margin-top: 18px; display: none" class="absolute left-1 top-0  bg-red-500 rounded-full">'
                            + '<span class="text-sm text-white p-1"></span>'
                            + '</div>';
                    }
                    resultDiv.innerHTML += '<div style="position: relative">' + b + '<a onclick="UpdateNotification(' + notify.notificationId + ', \'' + notify.link + '\')"  class="flex cursor-pointer px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">'
                        + '<div class="flex-shrink-0">'
                        + '<img class="rounded-full w-11 h-11" src = "' + image + '" alt = "Jese image">'
                        + '<div class="absolute flex items-center justify-center w-5 h-5 ms-6 -mt-5 bg-blue-600 border border-white rounded-full dark:border-gray-800">'
                        + '<svg class="w-2 h-2 text-white" aria-hidden="true" xmlns = "http://www.w3.org/2000/svg" fill = "currentColor" viewBox = "0 0 18 18">'
                        + '<path d="M1 18h16a1 1 0 0 0 1-1v-6h-4.439a.99.99 0 0 0-.908.6 3.978 3.978 0 0 1-7.306 0 .99.99 0 0 0-.908-.6H0v6a1 1 0 0 0 1 1Z"/>'
                        + '<path d="M4.439 9a2.99 2.99 0 0 1 2.742 1.8 1.977 1.977 0 0 0 3.638 0A2.99 2.99 0 0 1 13.561 9H17.8L15.977.783A1 1 0 0 0 15 0H3a1 1 0 0 0-.977.783L.2 9h4.239Z"/>'
                        + '</svg>'
                        + '</div>'
                        + '</div>'
                        + '<div class="w-full ps-3">'
                        + '<div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400" style = "text-align: start !important">'
                        + '<div class="flex justify-between">'
                        + '<div class="font-semibold text-gray-900 dark:text-white">' + notify.subject + '</div>'
                        + '<div>' + formatDate(notify.datetime) + '</div>'
                        + '</div>'
                        + '<div>' + notify.content + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</a></div>';
                });
                if (json.length == 0) {
                    loadingDiv.style.display = "none";
                }
                console.log(json);
            } catch (error) {
                console.error('Fetch error:', error);
            };
        }

        const loadingDiv = document.getElementById('loading');

        // Tạo một instance của IntersectionObserver
        const observer = new IntersectionObserver(entries => {
            // Xử lý khi phần tử loading vào vùng nhìn thấy
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    page++;
                    console.log("Loading");
                    GetNotification();
                    // Thực hiện các hành động khác tại đây
                }
            });
        }, {
            root: document.getElementById("dropdownNotification"), // Chỉ theo dõi trong phạm vi của div cha có khả năng scroll
            threshold: 0.5 // Chỉ kích hoạt khi phần tử loading có 50% nằm trong vùng nhìn thấy
        });

        observer.observe(loadingDiv);

        function formatDate(inputDate) {
            const date = new Date(inputDate);

            if (isNaN(date.getTime())) {
                throw new Error('Invalid date format');
            }

            const day = String(date.getDate()).padStart(2, '0');
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const year = String(date.getFullYear()).slice(-2);

            return `${day}/${month}/${year}`;
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131505823-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-131505823-4');

    </script>
    <script>
        async function fetchUserRole() {
            try {
                const response = await fetch('/api/MedicalRecords/role');
                if (response.ok) {
                    const role = await response.text() // Read the response as plain text
                    console.log('User role:', role);

                    if (role.trim() === 'Patient') {
                        document.getElementById('p-appointments-link').style.display = 'block';
                        document.getElementById('book-appointments-link').style.display = 'block';
                        document.getElementById('medical-record-link').style.display = 'block';
                    }
                    if (role.trim() === 'Receptionist') {
                        document.getElementById('staff-view-appointments-link').style.display = 'block';
                        document.getElementById('medical-record-link').style.display = 'block';
                    }
                    if (role.trim() === 'Doctor') {
                        document.getElementById('staff-view-appointments-link').style.display = 'block';
                        document.getElementById('medical-record-link').style.display = 'block';
                    }
                    if (role.trim() === 'Admin') {
                        document.getElementById('users-link').style.display = 'block';
                    }
                } else {
                    console.error('Failed to fetch role');
                }
            } catch (error) {
                console.error('Error fetching role:', error);
            }
        }

        // Call updateMenu when the page loads
        window.onload = fetchUserRole;
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>