@page
@model Clinic_Management.Pages.MedicalRecords.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@* <h1>Details</h1>

<div>
    <h4>MedicalRecord</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.VisitTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.VisitTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Symptoms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Symptoms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Diagnosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Diagnosis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Treatment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Treatment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Appointment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Appointment.AppointmentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Doctor.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Patient.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MedicalRecord?.MedicalrecordId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
 *@

<header class="my-6 max-w-2xl mx-auto relative">
    <img src="~/Images/heading-notext.png" class="w-full object-cover" />
    <div class="absolute top-8 right-8 w-1/2" style="padding-left: 6rem;">
        <div class="flex justify-end">
            <h3 class="text-xl font-bold text-white">Basiha Medical</h3>
        </div>
        <div>
            <div class="flex items-center mb-2">
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
                <p class="ml-2 text-white text-sm font-semibold uppercase">Basiha.Hospital@Gmail.com</p>
            </div>
            <div class="flex items-center mb-2">
                <svg class="h-6 w-6 text-white" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z" />  <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />  <path d="M15 7a2 2 0 0 1 2 2" />  <path d="M15 3a6 6 0 0 1 6 6" /></svg>
                <p class="ml-2 text-white text-sm font-semibold uppercase">0999-888-666</p>
            </div>
            <div class="flex items-center mb-2">
                <svg class="h-6 w-6 text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">  <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z" />  <circle cx="12" cy="10" r="3" /></svg>
                <p style="max-width:70%;" class="ml-2 text-white text-sm font-semibold uppercase">Khu 2, Hoàng Cương, Thanh Ba, Phú Thọ</p>
            </div>
        </div>
    </div>
</header>
<form class="max-w-2xl mx-auto">
    <div class="main_value">
        <select asp-for="MedicalRecord.AppointmentId" id="apmId" class="hidden" asp-items="ViewBag.AppointmentId"></select>
        <select asp-for="MedicalRecord.PatientId" id="patientId" class="hidden" asp-items="ViewBag.PatientId"></select>
        <select asp-for="MedicalRecord.DoctorId" id="doctorId" class="hidden" asp-items="ViewBag.DoctorId"></select>
    </div>
    <div class="flex justify-end">
        <p id="floating_visit_time" class="font-bold text-md-center text-gray-900"></p>
    </div>
    <div>
        <h3 class="text-lg mb-1 text-gray-900 font-bold">Doctor Info</h3>
        <div class="mb-4 lg:mb-6 not-format">
            <address class="flex items-center mb-6 not-italic">
                <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                    <img class="mr-4 w-16 h-16 rounded-full" src="~/Images/image.png" alt="Jese Leos">
                    <div>
                        <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white" id="floating_fname_d"></a>
                        <p class="text-base text-gray-500 dark:text-gray-400" id="floating_specialization"></p>
                        <p class="text-base text-gray-500 dark:text-gray-400">Doctor</p>
                    </div>
                </div>
            </address>
        </div>
    </div>
    <div>
        <h3 class="text-lg mb-1 text-gray-900 font-bold">Patient Info</h3>
        <div>
            <label for="floating_fname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fullname</label>
            <input type="text" name="floating_fname" id="floating_fname" aria-label="disabled input" class="mb-5 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" disabled>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <label for="floating_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
            <input type="text" name="floating_address" id="floating_address" aria-label="disabled input" class="mb-5 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" disabled>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-5 group">
                <label for="floating_dob" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date of Birth</label>
                <input type="date" name="floating_dob" id="floating_dob" aria-label="disabled input" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" disabled>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="floating_phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                <input type="tel" name="floating_phone" id="floating_phone" aria-label="disabled input" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" disabled>
            </div>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <label for="floating_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input type="email" name="floating_email" id="floating_email" aria-label="disabled input" class="mb-5 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-dafault dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" disabled>
        </div>
    </div>
    <div>
        <h3 class="text-lg mb-1 text-gray-900 font-bold">Symstoms</h3>
        <p asp-for="MedicalRecord.Symptoms" id="symptoms" class="pl-4 mb-2"></p>
    </div>
    <div>
        <h3 class="text-lg mb-1 text-gray-900 font-bold">Diagnosis</h3>
        <p asp-for="MedicalRecord.Diagnosis" id="diagnosis" class="pl-4 mb-2"></p>
    </div>
    <div>
        <h3 class="text-lg mb-1 text-gray-900 font-bold">Prescription</h3>
        <p asp-for="MedicalRecord.Treatment" id="treatment" class="pl-4 mb-2"></p>
    </div>
    <div class="flex justify-end items-center">
        <a asp-page="./Index" class="my-2 ml-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-8 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Back</a>
    </div>
</form>

<script src="./../js/createjs.js"></script>

<script>
    window.onload = () => {
        const url = new URL(window.location.href);
        const id = url.searchParams.get("id");
        fetch(`/api/MedicalRecords/${id}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                var aid = data.appointmentId;
                document.getElementById('symptoms').innerHTML = (data.symptoms.replace(/\r\n/g, '<br>'));
                document.getElementById('diagnosis').innerHTML = (data.diagnosis.replace(/\r\n/g, '<br>'));
                document.getElementById('treatment').innerHTML = (data.treatment.replace(/\r\n/g, '<br>'));
                fetch(`/api/MedicalRecords/appointments/${aid}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        document.getElementById('floating_fname_d').innerHTML = (data.doctorName);
                        document.getElementById('floating_visit_time').innerHTML = convertDataToReportDate(data.requestTime);
                        document.getElementById('floating_specialization').innerHTML = (data.doctorSpecialization);
                        document.getElementById('floating_fname').value = (data.patientName);
                        document.getElementById('floating_address').value = (data.patientAddress);
                        document.getElementById('floating_dob').value = isoToInputDate(data.patientDob);
                        document.getElementById('floating_phone').value = (data.patientPhone);
                        document.getElementById('floating_email').value = (data.patientEmail);
                        document.getElementById('apmId').value = decodeId(data.id);
                        document.getElementById('patientId').value = (data.patientId);
                        document.getElementById('doctorId').value = (data.doctorId);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


    function convertDataToReportDate(dateString) {
        const date = new Date(dateString);

        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        const timeOptions = { hour: '2-digit', minute: '2-digit' };

        const formattedDate = date.toLocaleDateString('en-US', options);
        const formattedTime = date.toLocaleTimeString('en-US', timeOptions);

        return `${formattedTime}, ${formattedDate}`;
    }
</script>