@page
@model Clinic_Management.Pages.MedicalRecords.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="mx-16 my-5 flex justify-between items-center">
    <p class="text-2xl font-extrabold dark:text-white inline-block">
        Medical Records
    </p>

    <div class="flex items-center">
        <form class="flex items-center max-w-md mr-4">
            <label for="simple-search" class="sr-only">Search</label>
            <div class="relative w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>
                <input type="text" id="SearchString" name="SearchString" value="@Model.SearchString" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search..." />
            </div>
            <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
                <span class="sr-only">Search</span>
            </button>
        </form>

        <p class="inline-block">
            <a asp-page="Create"
               class="inline-flex items-center gap-2
                    rounded border border-blue-700
                    bg-blue-700 px-8 py-3 text-white
                    hover:bg-transparent hover:text-blue-700
                    focus:outline-none focus:ring active:text-blue-500">
                <span class="text-sm font-medium"> Create </span>

                <svg class="size-5 rtl:rotate-180" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z" />  <line x1="12" y1="5" x2="12" y2="19" />  <line x1="5" y1="12" x2="19" y2="12" /></svg>
            </a>
        </p>
    </div>


</div>



<div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-5 mx-16 ">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        @Html.DisplayNameFor(model => model.MedicalRecord[0].VisitTime)
                        <a asp-page="./Index" id="VisitTime" asp-route-PageIndex="1" asp-route-SearchString="@Model.SearchString" asp-route-SortField="VisitTime" asp-route-SortOrder="@(Model.SortField == "VisitTime" && Model.SortOrder == "asc" ? "desc" : "asc")"></a>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    @Html.DisplayNameFor(model => model.MedicalRecord[0].Symptoms)
                </th>
                <th scope="col" class="px-6 py-3">
                    @Html.DisplayNameFor(model => model.MedicalRecord[0].Diagnosis)
                </th>
                <th scope="col" class="px-6 py-3">
                    @Html.DisplayNameFor(model => model.MedicalRecord[0].Treatment)
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        @Html.DisplayNameFor(model => model.MedicalRecord[0].Doctor)
                        <a asp-page="./Index" id="Doctor" asp-route-PageIndex="1" asp-route-SearchString="@Model.SearchString" asp-route-SortField="Doctor" asp-route-SortOrder="@(Model.SortField == "Doctor" && Model.SortOrder == "asc" ? "desc" : "asc")"></a>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        @Html.DisplayNameFor(model => model.MedicalRecord[0].Patient)
                        <a asp-page="./Index" id="Patient" asp-route-PageIndex="1" asp-route-SearchString="@Model.SearchString" asp-route-SortField="Patient" asp-route-SortOrder="@(Model.SortField == "Patient" && Model.SortOrder == "asc" ? "desc" : "asc")"></a>
                    </div>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MedicalRecord)
            {
                
                <tr id="root-@item.MedicalrecordId" class="bg-white border-b dark:bg-gray-800 dark:border-gray-500 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        @Html.DisplayFor(modelItem => item.VisitTime)
                    </th>
                    <td class="px-6 py-4">
                        @Html.DisplayFor(modelItem => item.Symptoms)
                    </td>
                    <td class="px-6 py-4">
                        @Html.DisplayFor(modelItem => item.Diagnosis)
                    </td>
                    <td class="px-6 py-4">
                        @Html.DisplayFor(modelItem => item.Treatment)
                    </td>
                    <td class="px-6 py-4">
                        @Html.DisplayFor(modelItem => item.Doctor.Name)
                    </td>
                    <td class="px-6 py-4">
                        @Html.DisplayFor(modelItem => item.Appointment.PatientName)
                    </td>
                    <td class="px-6 py-4 text-right items-center">
                        <a asp-page="./Edit" asp-route-id="@item.MedicalrecordId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.MedicalrecordId">Details</a> |
                        <svg id="@item.MedicalrecordId" onclick="bfdelete(this)" data-modal-target="deleteModal" data-modal-toggle="deleteModal" class="cursor-pointer h-4 w-4 text-red-500 inline-block" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">  <polyline points="21 8 21 21 3 21 3 8" />  <rect x="1" y="3" width="22" height="5" />  <line x1="10" y1="12" x2="14" y2="12" /></svg>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    var totalPages = (int)Math.Ceiling((double)@Model.totalRecords / @Model.PageSize);
    var currentPage = @Model.PageIndex;
}

@if (totalPages > 1)
{
    <div class="mx-16 mb-5">
        <ol class="flex justify-center gap-1 text-md font-medium">
            @if (currentPage > 1)
            {
                <li>
                    <a asp-page="./Index" asp-route-SearchString="@Model.SearchString" asp-route-PageIndex="1"
                       class="inline-flex size-8 items-center justify-center rounded border border-gray-500 bg-white text-gray-900 rtl:rotate-180">
                        <span class="sr-only">First Page</span>
                        <svg class="h-4 w-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z" />  <polyline points="11 7 6 12 11 17" />  <polyline points="17 7 12 12 17 17" /></svg>
                    </a>
                </li>
                <li>
                    <a asp-page="./Index" asp-route-SearchString="@Model.SearchString" asp-route-PageIndex="@(currentPage-1)"
                       class="inline-flex size-8 items-center justify-center rounded border border-gray-500 bg-white text-gray-900 rtl:rotate-180">
                        <span class="sr-only">Prev Page</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-4 w-4"
                             viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                  clip-rule="evenodd" />
                        </svg>
                    </a>
                </li>
            }

            @if (totalPages <= 5)
            {
                @for (int i = 1; i <= totalPages; i++)
                {
                    @if (i == currentPage)
                    {
                        <li class="block size-8 rounded border-blue-600 bg-blue-600 text-center leading-8 text-white">
                            @i
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-page="./Index" asp-route-SearchString="@Model.SearchString" asp-route-PageIndex="@i"
                               class="page-link block size-8 rounded border border-gray-500 bg-white text-center leading-8 text-gray-900">
                                @i
                            </a>
                        </li>
                    }
                }
            }else{
                @if(currentPage > 3)
                {
                    @for (int i = currentPage-2; i <= (totalPages > currentPage + 2 ? currentPage + 2 : totalPages); i++)
                    {
                        @if (i == currentPage)
                        {
                            <li class="block size-8 rounded border-blue-600 bg-blue-600 text-center leading-8 text-white">
                                @i
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-page="./Index" asp-route-SearchString="@Model.SearchString" asp-route-PageIndex="@i"
                                   class="page-link block size-8 rounded border border-gray-500 bg-white text-center leading-8 text-gray-900">
                                    @i
                                </a>
                            </li>
                        }
                    }
                }else{
                    @for (int i = 1; i <= 5; i++)
                    {
                        @if (i == currentPage)
                        {
                            <li class="block size-8 rounded border-blue-600 bg-blue-600 text-center leading-8 text-white">
                                @i
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-page="./Index" asp-route-SearchString="@Model.SearchString" asp-route-PageIndex="@i"
                                   class="page-link block size-8 rounded border border-gray-500 bg-white text-center leading-8 text-gray-900">
                                    @i
                                </a>
                            </li>
                        }
                    }
                }
            }

            @if (currentPage < totalPages)
            {
                <li>
                    <a asp-page="./Index" asp-route-SearchString="@Model.SearchString" asp-route-PageIndex="@(currentPage+1)"
                       class="inline-flex size-8 items-center justify-center rounded border border-gray-500 bg-white text-gray-900 rtl:rotate-180">
                        <span class="sr-only">Next Page</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-4 w-4"
                             viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                  clip-rule="evenodd" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a asp-page="./Index" asp-route-SearchString="@Model.SearchString" asp-route-PageIndex="@(totalPages)"
                       class="inline-flex size-8 items-center justify-center rounded border border-gray-500 bg-white text-gray-900 rtl:rotate-180">
                        <span class="sr-only">Last Page</span>
                        <svg class="h-4 w-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">  <polyline points="13 17 18 12 13 7" />  <polyline points="6 17 11 12 6 7" /></svg>
                    </a>
                </li>
            }
        </ol>
    </div>
}



<!-- Main modal -->
<div id="deleteModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <button type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="deleteModal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <svg class="text-gray-400 dark:text-gray-500 w-11 h-11 mb-3.5 mx-auto" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
            <p class="mb-4 text-gray-500 dark:text-gray-300">
                Are you sure you want to archive this record? This action cannot be undone.
            </p>
            <div class="flex justify-center items-center space-x-4">
                <button data-modal-toggle="deleteModal" type="button" class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                    No, cancel
                </button>
                <form>
                    <input type="hidden" id="btnArchive" />
                    <button data-modal-toggle="deleteModal" type="button" onclick="DeleteReport()" class="py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900">
                        Yes, I'm sure
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="./../js/createjs.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
<script>
    window.onload = () => {
        const defaultSort = `<svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
                        </svg>`;
        var time = document.getElementById('VisitTime');
        var doc = document.getElementById('Doctor');
        var pat = document.getElementById('Patient');

        const url = new URL(window.location.href);
        if (url.searchParams.has('SortField')) {
            const sortField = url.searchParams.get('SortField');
            const sortOrder = url.searchParams.get('SortOrder');
            var sort = '';
            if (sortOrder == 'desc') {
                sort = `<svg class="w-4 h-4 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M18.425 10.271C19.499 8.967 18.57 7 16.88 7H7.12c-1.69 0-2.618 1.967-1.544 3.271l4.881 5.927a2 2 0 0 0 3.088 0l4.88-5.927Z" clip-rule="evenodd" />
                </svg>`;
            } else {
                sort = `<svg class="w-4 h-4 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M5.575 13.729C4.501 15.033 5.43 17 7.12 17h9.762c1.69 0 2.618-1.967 1.544-3.271l-4.881-5.927a2 2 0 0 0-3.088 0l-4.88 5.927Z" clip-rule="evenodd"/>
            </svg>`;
            }
            switch (sortField) {
                case 'VisitTime':
                    time.innerHTML = sort;
                    doc.innerHTML = defaultSort;
                    pat.innerHTML = defaultSort;
                    break;
                case 'Doctor':
                    time.innerHTML = defaultSort;
                    doc.innerHTML = sort;
                    pat.innerHTML = defaultSort;
                    break;
                case 'Patient':
                    time.innerHTML = defaultSort;
                    doc.innerHTML = defaultSort;
                    pat.innerHTML = sort;
                    break;
                default:
                    time.innerHTML = defaultSort;
                    doc.innerHTML = defaultSort;
                    pat.innerHTML = defaultSort;
                    break;
            }
        } else {
            time.innerHTML = defaultSort;
            doc.innerHTML = defaultSort;
            pat.innerHTML = defaultSort;
        }

    }
</script>